h1{
    
    font-size :3rem;
    text-transform: uppercase;
}
.image{
    border:5px solid white;
    width:100%;
}
.man{
    width:50%;
    margin-left:25% ;
    margin-top:100px;
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Lugrasimo', cursive;
    text-align: center;
    color:white;
}
body{
    background-color:black;
    /*background-image: url('./assets/images/sun.webp');*/
    background-image: url('./assets/images/hanuman.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}